In [ ]:
import pandas as pd
import numpy as np

from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
print("hello world")

hello world

In [ ]:
nat_pop = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Population/PopulationReport.csv")
AL_pop = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Population/PopulationReportAlabama.csv")
AK_pop = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Population/PopulationReportArkansas.csv")
FL_pop = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Population/PopulationReportFlorida.csv")
GA_pop = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Population/PopulationReportGeorgia.csv")
KY_pop = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Population/PopulationReportKentucky.csv")
LA_pop = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Population/PopulationReportLouisiana.csv")
MD_pop = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Population/PopulationReportMaryland.csv")
MS_pop = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Population/PopulationReportMississippi.csv")
NC_pop = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Population/PopulationReportNorthCarolina.csv")
SC_pop = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Population/PopulationReportSouthCarolina.csv")
TN_pop = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Population/PopulationReportTennessee.csv")
VA_pop = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Population/PopulationReportVirginia.csv")
WV_pop = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Population/PopulationReportWestVirginia.csv")

test_cat = pd.concat([AL_pop, AK_pop,FL_pop,GA_pop,KY_pop, LA_pop,MD_pop,MS_pop,SC_pop,TN_pop, VA_pop, WV_pop, NC_pop,],ignore_index=True).dropna()
test_cat = test_cat.replace(',','', regex=True)
print(test_cat["current_year"])
print(test_cat["current_year"].dtypes)
test_cat = test_cat.astype({"current_year" : "int32"})
test_cat["State"] = ""
print(test_cat["current_year"].dtypes)
test_cat.sort_values("current_year",ascending=False).head()

1        59095
2       239294
3        24964
4        22477
5        59041
         ...
1045    116835
1046     65806
1047     78369
1048     37192
1049     18757
Name: current_year, Length: 1035, dtype: object
object
int32

,Textbox1,Textbox77,fips,name,ruc_code,estBase040190,Apr-00,ESTIMATESBASE2010,ESTIMATESBASE20201,current_year,percentChange
187,Pop. 2021,Change 2020-21,12086,Miami-Dade,1.0,1937194,2253793,2496435,2701767,2662777,-1.40%
150,Pop. 2021,Change 2020-21,12011,Broward,1.0,1255531,1622974,1748066,1944375,1930983,-0.70%
194,Pop. 2021,Change 2020-21,12099,Palm Beach,1.0,863503,1131189,1320134,1492191,1497987,0.40%
172,Pop. 2021,Change 2020-21,12057,Hillsborough,1.0,834054,998994,1229226,1459762,1478194,1.30%
192,Pop. 2021,Change 2020-21,12095,Orange,1.0,677491,896123,1145956,1429908,1422746,-0.50%

In [ ]:
AK_obesity = pd.read_excel("/content/gdrive/MyDrive/CS 216/Data/Obesity/2022 County Health Rankings Arkansas Data - v1.xlsx",sheet_name = 3)
AL_obesity = pd.read_excel("/content/gdrive/MyDrive/CS 216/Data/Obesity/2022 County Health Rankings Alabama Data - v1.xlsx",sheet_name = 3)
FL_obesity = pd.read_excel("/content/gdrive/MyDrive/CS 216/Data/Obesity/2022 County Health Rankings Florida Data - v1.xlsx",sheet_name = 3)
GA_obesity = pd.read_excel("/content/gdrive/MyDrive/CS 216/Data/Obesity/2022 County Health Rankings Georgia Data - v1.xlsx",sheet_name = 3)
KY_obesity = pd.read_excel("/content/gdrive/MyDrive/CS 216/Data/Obesity/2022 County Health Rankings Kentucky Data - v1.xlsx",sheet_name = 3)
LA_obesity = pd.read_excel("/content/gdrive/MyDrive/CS 216/Data/Obesity/2022 County Health Rankings Lousiana Data - v1.xlsx",sheet_name = 3)
MD_obesity = pd.read_excel("/content/gdrive/MyDrive/CS 216/Data/Obesity/2022 County Health Rankings Maryland Data - v1.xlsx",sheet_name = 3)
MS_obesity = pd.read_excel("/content/gdrive/MyDrive/CS 216/Data/Obesity/2022 County Health Rankings Mississippi Data - v1.xlsx",sheet_name = 3)
NC_obesity = pd.read_excel("/content/gdrive/MyDrive/CS 216/Data/Obesity/2022 County Health Rankings North Carolina Data - v1.xlsx",sheet_name = 3)
SC_obesity = pd.read_excel("/content/gdrive/MyDrive/CS 216/Data/Obesity/2022 County Health Rankings Arkan Data - v1.xlsx",sheet_name = 3)
TN_obesity = 
VA_obesity = 
WV_obesity = 

test_obesity.head()

SyntaxError: ignored

In [ ]:
nat_pov = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Poverty/NationalPoverty.csv")
AL_pov = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Poverty/AlabamaPoverty.csv")
AK_pov = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Poverty/ArkansasPoverty.csv")
FL_pov = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Poverty/FloridaPoverty.csv")
GA_pov = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Poverty/GeorgiaPoverty.csv")
KY_pov = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Poverty/KentuckyPoverty.csv")
LA_pov = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Poverty/LouisianaPoverty.csv")
MD_pov = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Poverty/MarylandPoverty.csv")
MS_pov = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Poverty/MississippiPoverty.csv")
NC_pov = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Poverty/NorthCarolinaPoverty.csv")
SC_pov = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Poverty/SouthCarolinaPoverty.csv")
TN_pov = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Poverty/TennesseePoverty.csv")
VA_pov = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Poverty/VirginiaPoverty.csv")
WV_pov = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Poverty/WestVirginiaPoverty.csv")

,Textbox100,Textbox119,state_National2,total_est_pct4,total_est_pct_Bmin4,total_est_pct_Bmax4,under18_pct4,under18_pct_Bmin4,under18_pct_Bmax4
0,All people in poverty (2020),Children ages 0-17 in poverty (2020),Alabama,"714,568","695,249","733,887","222,934","213,738","232,130"
1,All people in poverty (2020),Children ages 0-17 in poverty (2020),Alaska,"68,714","64,952","72,476","21,459","19,801","23,117"
2,All people in poverty (2020),Children ages 0-17 in poverty (2020),Arizona,"932,555","904,127","960,983","283,667","269,862","297,472"
3,All people in poverty (2020),Children ages 0-17 in poverty (2020),Arkansas,"448,665","434,898","462,432","142,855","136,047","149,663"
4,All people in poverty (2020),Children ages 0-17 in poverty (2020),California,"4,419,167","4,357,445","4,480,889","1,260,145","1,226,143","1,294,147"

In [ ]:
AL_unemp = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Unemployment/UnemploymentReport_Alabama.csv")
AK_unemp = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Unemployment/UnemploymentReport_Arkansas.csv")
FL_unemp = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Unemployment/UnemploymentReport_Florida.csv")
GA_unemp = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Unemployment/UnemploymentReport_Georgia.csv")
KY_unemp = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Unemployment/UnemploymentReport_Kentucky.csv")
LA_unemp = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Unemployment/UnemploymentReport_Louisiana.csv")
MD_unemp = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Unemployment/UnemploymentReport_Maryland.csv")
MS_unemp = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Unemployment/UnemploymentReport_Mississippi.csv")
NC_unemp = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Unemployment/UnemploymentReport_NorthCarolina.csv")
SC_unemp = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Unemployment/UnemploymentReport_SouthCarolina.csv")
TN_unemp = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Unemployment/UnemploymentReport_Tennessee.csv")
VA_unemp = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Unemployment/UnemploymentReport_Virginia.csv")
WV_unemp = pd.read_csv("/content/gdrive/MyDrive/CS 216/Data/Unemployment/UnemploymentReport_WestVirginia.csv")
AL_unemp.head()

,FIPS,Name,2013,2014,2015,2016,2017,2018,2019,2020,2021,Median Household Income (2020),% of State Median HH Income
0,1000,Alabama,7.3,6.7,6.1,5.9,4.5,3.9,3.2,6.5,3.4,"$53,958",100.00%
1,1001,"Autauga County, AL",6.3,5.8,5.2,5.1,4.0,3.6,2.9,5.4,2.8,"$67,565",125.20%
2,1003,"Baldwin County, AL",6.7,6.1,5.6,5.4,4.2,3.6,2.9,6.2,3.0,"$71,135",131.80%
3,1005,"Barbour County, AL",10.4,10.5,8.9,8.4,6.0,5.1,4.0,7.8,5.7,"$38,866",72.00%
4,1007,"Bibb County, AL",8.0,7.2,6.7,6.5,4.5,4.0,3.2,7.3,3.5,"$50,907",94.30%