In [33]:
import pandas as pd
import numpy as np

In [34]:
nat_pop = pd.read_csv("Data\Population\PopulationReport.csv")
AL_pop = pd.read_csv("Data\Population\PopulationReportAlabama.csv")
AL_pop["State"] = "Alabama"
AK_pop = pd.read_csv("Data\Population\PopulationReportArkansas.csv")
AK_pop["State"] = "Arkansas"
FL_pop = pd.read_csv("Data\Population\PopulationReportFlorida.csv")
FL_pop["State"] = "Florida"
GA_pop = pd.read_csv("Data\Population\PopulationReportGeorgia.csv")
GA_pop["State"] = "Georgia"
KY_pop = pd.read_csv("Data\Population\PopulationReportKentucky.csv")
KY_pop["State"] = "Kentucky"
LA_pop = pd.read_csv("Data\Population\PopulationReportLouisiana.csv")
LA_pop["State"] = "Louisiana"
MD_pop = pd.read_csv("Data\Population\PopulationReportMaryland.csv")
MD_pop["State"] = "Maryland"
MS_pop = pd.read_csv("Data\Population\PopulationReportMississippi.csv")
MS_pop["State"] = "Mississippi"
NC_pop = pd.read_csv("Data\Population\PopulationReportNorthCarolina.csv")
NC_pop["State"] = "North Carolina"
SC_pop = pd.read_csv("Data\Population\PopulationReportSouthCarolina.csv")
SC_pop["State"] = "South Carolina"
TN_pop = pd.read_csv("Data\Population\PopulationReportTennessee.csv")
TN_pop["State"] = "Tennessee"
VA_pop = pd.read_csv("Data\Population\PopulationReportVirginia.csv")
VA_pop["State"] = "Virginia"
WV_pop = pd.read_csv("Data\Population\PopulationReportWestVirginia.csv")
WV_pop["State"] = "West Virginia"

test_cat = pd.concat([AL_pop, AK_pop,FL_pop,GA_pop,KY_pop, LA_pop,MD_pop,MS_pop,SC_pop,TN_pop, VA_pop, WV_pop, NC_pop,],ignore_index=True).dropna()
test_cat = test_cat.replace(',','', regex=True)

test_cat = test_cat.astype({"current_year" : "int32"})


test_cat.sort_values("current_year",ascending=False).head()

test_cat = test_cat[["fips","name","current_year","State"]]

test_cat.sort_values("current_year",ascending=False).head()

pop_df = test_cat.rename(columns = {"current_year" : "current_year_pop"})
pop_df.head().sort_values("name")

   fips     name  current_year_pop    State
1  1001  Autauga             59095  Alabama
2  1003  Baldwin            239294  Alabama
3  1005  Barbour             24964  Alabama
4  1007     Bibb             22477  Alabama
5  1009   Blount             59041  Alabama

In [35]:
AK_obesity = pd.read_excel("Data/Obesity/2022 County Health Rankings Arkansas Data - v1.xlsx",sheet_name = 3, header=[0,1])
AK_obesity.columns = AK_obesity.columns.map(': '.join)

AL_obesity = pd.read_excel("Data/Obesity/2022 County Health Rankings Alabama Data - v1.xlsx",sheet_name = 3, header=[0,1])
AL_obesity.columns = AL_obesity.columns.map(': '.join)

FL_obesity = pd.read_excel("Data/Obesity/2022 County Health Rankings Florida Data - v1.xlsx",sheet_name = 3, header=[0,1])
FL_obesity.columns = FL_obesity.columns.map(': '.join)

GA_obesity = pd.read_excel("Data/Obesity/2022 County Health Rankings Georgia Data - v1.xlsx",sheet_name = 3, header=[0,1])
GA_obesity.columns = GA_obesity.columns.map(': '.join)

KY_obesity = pd.read_excel("Data/Obesity/2022 County Health Rankings Kentucky Data - v1.xlsx",sheet_name = 3, header=[0,1])
KY_obesity.columns = KY_obesity.columns.map(': '.join)

LA_obesity = pd.read_excel("Data/Obesity/2022 County Health Rankings Louisiana Data - v1.xlsx",sheet_name = 3, header=[0,1])
LA_obesity.columns = LA_obesity.columns.map(': '.join)

MD_obesity = pd.read_excel("Data/Obesity/2022 County Health Rankings Maryland Data - v1.xlsx",sheet_name = 3, header=[0,1])
MD_obesity.columns = MD_obesity.columns.map(': '.join)

MS_obesity = pd.read_excel("Data/Obesity/2022 County Health Rankings Mississippi Data - v1.xlsx",sheet_name = 3, header=[0,1])
MS_obesity.columns = MS_obesity.columns.map(': '.join)

NC_obesity = pd.read_excel("Data/Obesity/2022 County Health Rankings North Carolina Data - v1.xlsx",sheet_name = 3, header=[0,1])
NC_obesity.columns = NC_obesity.columns.map(': '.join)

SC_obesity = pd.read_excel("Data/Obesity/2022 County Health Rankings South Carolina Data - v1.xlsx",sheet_name = 3, header=[0,1])
SC_obesity.columns = SC_obesity.columns.map(': '.join)

TN_obesity = pd.read_excel("Data/Obesity/2022 County Health Rankings Tennessee Data - v1.xlsx",sheet_name = 3, header=[0,1])
TN_obesity.columns = TN_obesity.columns.map(': '.join)

VA_obesity = pd.read_excel("Data/Obesity/2022 County Health Rankings Virginia Data - v1.xlsx",sheet_name = 3, header=[0,1])
VA_obesity.columns = VA_obesity.columns.map(': '.join)

WV_obesity = pd.read_excel("Data/Obesity/2022 County Health Rankings West Virginia Data - v1.xlsx",sheet_name = 3, header=[0,1])
WV_obesity.columns = WV_obesity.columns.map(': '.join)

df_frames = [AK_obesity, AL_obesity, FL_obesity, GA_obesity, KY_obesity, LA_obesity, MD_obesity, MS_obesity, NC_obesity, SC_obesity, TN_obesity, VA_obesity, WV_obesity]

for states in df_frames:
    states.rename(columns={ states.columns[0]: "FIPS", states.columns[1]: "States", states.columns[2]: "County" }, inplace=True)

all_states = pd.concat(df_frames, axis=0)
all_states.head()

,FIPS,States,County,Premature death: Unreliable,Premature death: Deaths,Premature death: Years of Potential Life Lost Rate,Premature death: 95% CI - Low,Premature death: 95% CI - High,Premature death: Z-Score,Premature death: YPLL Rate (AIAN),...,Driving alone to work: % Drive Alone (Hispanic) 95% CI - Low,Driving alone to work: % Drive Alone (Hispanic) 95% CI - High,Driving alone to work: % Drive Alone (white),Driving alone to work: % Drive Alone (white) 95% CI - Low,Driving alone to work: % Drive Alone (white) 95% CI - High,Long commute - driving alone: # Workers who Drive Alone,Long commute - driving alone: % Long Commute - Drives Alone,Long commute - driving alone: 95% CI - Low,Long commute - driving alone: 95% CI - High,Long commute - driving alone: Z-Score
0,5000,Arkansas,NaN,NaN,50906.0,9749.670418,9622.149573,9877.191264,NaN,3989.295486,...,72.871392,76.250342,83.635245,83.343705,83.926785,1294646,27.2,26.723404,27.676596,NaN
1,5001,Arkansas,Arkansas,NaN,399.0,11869.862349,10029.672462,13710.052236,0.393554,NaN,...,NaN,NaN,86.467562,83.457327,89.477797,7864,19.3,15.317858,23.282142,-1.201748
2,5003,Arkansas,Ashley,NaN,422.0,11534.401651,9760.100441,13308.702862,0.237442,NaN,...,NaN,NaN,88.844200,84.750976,92.937424,7284,26.2,20.697176,31.702824,-0.552171
3,5005,Arkansas,Baxter,NaN,870.0,9851.878176,8657.762912,11045.993440,-0.545544,NaN,...,NaN,NaN,NaN,NaN,NaN,15091,15.0,12.004642,17.995358,-1.606556
4,5007,Arkansas,Benton,NaN,2877.0,6155.906445,5835.767728,6476.045162,-2.265519,NaN,...,73.120993,79.459189,84.654271,83.667135,85.641407,131630,21.6,20.278574,22.921426,-0.985222

In [36]:
nat_pov = pd.read_csv("Data/Poverty/NationalPoverty.csv")
AL_pov = pd.read_csv("Data/Poverty/AlabamaPoverty.csv")
AL_pov["State"] = "Alabama"
AK_pov = pd.read_csv("Data/Poverty/ArkansasPoverty.csv")
AK_pov["State"] = "Arkansas"
FL_pov = pd.read_csv("Data/Poverty/FloridaPoverty.csv")
FL_pov["State"] = "Florida"
GA_pov = pd.read_csv("Data/Poverty/GeorgiaPoverty.csv")
GA_pov["State"] = "Georgia"
KY_pov = pd.read_csv("Data/Poverty/KentuckyPoverty.csv")
KY_pov["State"] = "Kentucky"
LA_pov = pd.read_csv("Data/Poverty/LouisianaPoverty.csv")
LA_pov["State"] = "Louisiana"
MD_pov = pd.read_csv("Data/Poverty/MarylandPoverty.csv")
MD_pov["State"] = "Maryland"
MS_pov = pd.read_csv("Data/Poverty/MississippiPoverty.csv")
MS_pov["State"] = "Mississippi"
NC_pov = pd.read_csv("Data/Poverty/NorthCarolinaPoverty.csv")
NC_pov["State"] = "North Carolina"
SC_pov = pd.read_csv("Data/Poverty/SouthCarolinaPoverty.csv")
SC_pov["State"] = "South Carolina"
TN_pov = pd.read_csv("Data/Poverty/TennesseePoverty.csv")
TN_pov["State"] = "Tennessee"
VA_pov = pd.read_csv("Data/Poverty/VirginiaPoverty.csv")
VA_pov["State"] = "Virginia"
WV_pov = pd.read_csv("Data/Poverty/WestVirginiaPoverty.csv")
WV_pov["State"] = "West Virginia"
concat_list = [AL_pov, AK_pov, FL_pov, GA_pov, KY_pov, LA_pov, MD_pov, MS_pov, NC_pov, SC_pov, TN_pov, VA_pov, WV_pov]
pov_df = pd.concat(concat_list, ignore_index=True)
pov_df = pov_df.replace(',','', regex=True)
pov_df = pov_df.astype({"total_est" : "int32"})
pov_df = pov_df.astype({"under18" : "int32"})
pov_df = pov_df.drop(["Textbox93", "Textbox96", "ruc_code", "total_Bmin", "total_Bmax", "under18_Bmin", "under18_Bmax"], axis=1)
pov_df = pov_df.drop(pov_df[pov_df["county"] == "Florida"].index)
pov_df = pov_df.drop(pov_df[pov_df["county"] == "Georgia"].index)
pov_df = pov_df.drop(pov_df[pov_df["county"] == "North Carolina"].index)
pov_df = pov_df.drop(pov_df[pov_df["county"] == "Tennessee"].index)
pov_df = pov_df.drop(pov_df[pov_df["county"] == "Louisiana"].index)
pov_df = pov_df.drop(pov_df[pov_df["county"] == "Virginia"].index)
pov_df = pov_df.drop(pov_df[pov_df["county"] == "Alabama"].index)
pov_df = pov_df.drop(pov_df[pov_df["county"] == "South Carolina"].index)
pov_df = pov_df.drop(pov_df[pov_df["county"] == "Kentucky"].index)
pov_df = pov_df.drop(pov_df[pov_df["county"] == "Mississippi"].index)
pov_df = pov_df.drop(pov_df[pov_df["county"] == "Maryland"].index)
pov_df = pov_df.drop(pov_df[pov_df["county"] == "Arkansas"].index)
pov_df = pov_df.drop(pov_df[pov_df["county"] == "West Virginia"].index)
pov_df.sort_values("total_est",ascending=False).head()

      fips        county  total_est  under18      State
187  12086    Miami-Dade     399797   106575    Florida
150  12011       Broward     214119    56676    Florida
194  12099    Palm Beach     178480    45103    Florida
172  12057  Hillsborough     175650    46039    Florida
893  47157        Shelby     174664    61594  Tennessee

In [37]:
AL_unemp = pd.read_csv("Data/Unemployment/UnemploymentReport_Alabama.csv")
AL_unemp['State'] = 'Alabama'
AK_unemp = pd.read_csv("Data/Unemployment/UnemploymentReport_Arkansas.csv")
AK_unemp['State'] = 'Arkansas'
FL_unemp = pd.read_csv("Data/Unemployment/UnemploymentReport_Florida.csv")
FL_unemp['State'] = "Florida"
GA_unemp = pd.read_csv("Data/Unemployment/UnemploymentReport_Georgia.csv")
GA_unemp['State'] = "Georgia"
KY_unemp = pd.read_csv("Data/Unemployment/UnemploymentReport_Kentucky.csv")
KY_unemp['State'] = "Kentucky"
LA_unemp = pd.read_csv("Data/Unemployment/UnemploymentReport_Louisiana.csv")
LA_unemp['State'] = "Louisiana"
MD_unemp = pd.read_csv("Data/Unemployment/UnemploymentReport_Maryland.csv")
MD_unemp['State'] = "Maryland"
MS_unemp = pd.read_csv("Data/Unemployment/UnemploymentReport_Mississippi.csv")
MS_unemp['State'] = "Mississippi"
NC_unemp = pd.read_csv("Data/Unemployment/UnemploymentReport_NorthCarolina.csv")
NC_unemp['State'] = "North Carolina"
SC_unemp = pd.read_csv("Data/Unemployment/UnemploymentReport_SouthCarolina.csv")
SC_unemp['State'] = "South Carolina"
TN_unemp = pd.read_csv("Data/Unemployment/UnemploymentReport_Tennessee.csv")
TN_unemp['State'] = "Tennessee"
VA_unemp = pd.read_csv("Data/Unemployment/UnemploymentReport_Virginia.csv")
VA_unemp['State'] = "Virginia"
WV_unemp = pd.read_csv("Data/Unemployment/UnemploymentReport_WestVirginia.csv")
WV_unemp['State'] = "West Virginia"
concat_list_unemp = [AL_unemp, AK_unemp, FL_unemp, GA_unemp, KY_unemp, LA_unemp, MD_unemp, MS_unemp, NC_unemp, SC_unemp, TN_unemp, VA_unemp, WV_unemp]
unemp_df = pd.concat(concat_list_unemp, ignore_index = True)
unemp_df = unemp_df.drop(["2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020"], axis = 1)
unemp_df = unemp_df.drop(["% of State Median HH Income"], axis = 1)
unemp_df = unemp_df.replace(',','', regex = True)


unemp_df = unemp_df.drop(unemp_df[unemp_df["Name"] == 'Alabama'].index)
unemp_df = unemp_df.drop(unemp_df[unemp_df["Name"] == 'Arkansas'].index)
unemp_df = unemp_df.drop(unemp_df[unemp_df["Name"] == 'Florida'].index)
unemp_df = unemp_df.drop(unemp_df[unemp_df["Name"] == 'Georgia'].index)
unemp_df = unemp_df.drop(unemp_df[unemp_df["Name"] == 'North Carolina'].index)
unemp_df = unemp_df.drop(unemp_df[unemp_df["Name"] == 'Tennessee'].index)
unemp_df = unemp_df.drop(unemp_df[unemp_df["Name"] == 'Louisiana'].index)
unemp_df = unemp_df.drop(unemp_df[unemp_df["Name"] == 'Virginia'].index)
unemp_df = unemp_df.drop(unemp_df[unemp_df["Name"] == 'Kentucky'].index)
unemp_df = unemp_df.drop(unemp_df[unemp_df["Name"] == 'South Carolina'].index)
unemp_df = unemp_df.drop(unemp_df[unemp_df["Name"] == 'Maryland'].index)
unemp_df = unemp_df.drop(unemp_df[unemp_df["Name"] == 'Mississppi'].index)
unemp_df = unemp_df.drop(unemp_df[unemp_df["Name"] == 'West Virginia'].index)
unemp_df["Name"] = unemp_df["Name"].str.extract("([A-Z][a-z]+)")
unemp_df = unemp_df.replace('\$','', regex = True)
unemp_df = unemp_df.astype({"Median Household Income (2020)" : "int32"})
unemp_df.head()

   FIPS      Name  2021  Median Household Income (2020)    State
1   1001  Autauga   2.8                           67565  Alabama
2   1003  Baldwin   3.0                           71135  Alabama
3   1005  Barbour   5.7                           38866  Alabama
4   1007     Bibb   3.5                           50907  Alabama
5   1009   Blount   2.4                           55203  Alabama

test commit - jeff