In [10]:
import pandas as pd
import numpy as np

In [11]:
nat_pop = pd.read_csv("Data\Population\PopulationReport.csv")
AL_pop = pd.read_csv("Data\Population\PopulationReportAlabama.csv")
AK_pop = pd.read_csv("Data\Population\PopulationReportArkansas.csv")
FL_pop = pd.read_csv("Data\Population\PopulationReportFlorida.csv")
GA_pop = pd.read_csv("Data\Population\PopulationReportGeorgia.csv")
KY_pop = pd.read_csv("Data\Population\PopulationReportKentucky.csv")
LA_pop = pd.read_csv("Data\Population\PopulationReportLouisiana.csv")
MD_pop = pd.read_csv("Data\Population\PopulationReportMaryland.csv")
MS_pop = pd.read_csv("Data\Population\PopulationReportMississippi.csv")
NC_pop = pd.read_csv("Data\Population\PopulationReportNorthCarolina.csv")
SC_pop = pd.read_csv("Data\Population\PopulationReportSouthCarolina.csv")
TN_pop = pd.read_csv("Data\Population\PopulationReportTennessee.csv")
VA_pop = pd.read_csv("Data\Population\PopulationReportVirginia.csv")
WV_pop = pd.read_csv("Data\Population\PopulationReportWestVirginia.csv")

test_cat = pd.concat([AL_pop, AK_pop,FL_pop,GA_pop,KY_pop, LA_pop,MD_pop,MS_pop,SC_pop,TN_pop, VA_pop, WV_pop, NC_pop,],ignore_index=True).dropna()
test_cat = test_cat.replace(',','', regex=True)
print(test_cat["current_year"])
print(test_cat["current_year"].dtypes)
test_cat = test_cat.astype({"current_year" : "int32"})
test_cat["State"] = ""
print(test_cat["current_year"].dtypes)
test_cat.sort_values("current_year",ascending=False).head()

     Textbox1       Textbox77   fips           name  ruc_code estBase040190  \
0   Pop. 2021  Change 2020-21  54000  West Virginia       NaN     1,793,477
1   Pop. 2021  Change 2020-21  54001        Barbour       6.0        15,699
2   Pop. 2021  Change 2020-21  54003       Berkeley       2.0        59,253
3   Pop. 2021  Change 2020-21  54005          Boone       3.0        25,870
4   Pop. 2021  Change 2020-21  54007        Braxton       8.0        12,998
5   Pop. 2021  Change 2020-21  54009         Brooke       3.0        26,992
6   Pop. 2021  Change 2020-21  54011         Cabell       2.0        96,827
7   Pop. 2021  Change 2020-21  54013        Calhoun       8.0         7,885
8   Pop. 2021  Change 2020-21  54015           Clay       3.0         9,983
9   Pop. 2021  Change 2020-21  54017      Doddridge       9.0         6,994
10  Pop. 2021  Change 2020-21  54019        Fayette       3.0        47,952
11  Pop. 2021  Change 2020-21  54021         Gilmer       7.0         7,669
12  Pop. 2021  Change 2020-21  54023          Grant       7.0        10,428
13  Pop. 2021  Change 2020-21  54025     Greenbrier       6.0        34,693
14  Pop. 2021  Change 2020-21  54027      Hampshire       3.0        16,498
15  Pop. 2021  Change 2020-21  54029        Hancock       3.0        35,233
16  Pop. 2021  Change 2020-21  54031          Hardy       6.0        10,977
17  Pop. 2021  Change 2020-21  54033       Harrison       5.0        69,371
18  Pop. 2021  Change 2020-21  54035        Jackson       6.0        25,938
19  Pop. 2021  Change 2020-21  54037      Jefferson       1.0        35,926
20  Pop. 2021  Change 2020-21  54039        Kanawha       3.0       207,619
21  Pop. 2021  Change 2020-21  54041          Lewis       7.0        17,223
22  Pop. 2021  Change 2020-21  54043        Lincoln       2.0        21,382
23  Pop. 2021  Change 2020-21  54045          Logan       6.0        43,032
24  Pop. 2021  Change 2020-21  54047       McDowell       7.0        35,233
25  Pop. 2021  Change 2020-21  54049         Marion       4.0        57,249
26  Pop. 2021  Change 2020-21  54051       Marshall       3.0        37,356
27  Pop. 2021  Change 2020-21  54053          Mason       6.0        25,178
28  Pop. 2021  Change 2020-21  54055         Mercer       4.0        64,980
29  Pop. 2021  Change 2020-21  54057        Mineral       3.0        26,697
30  Pop. 2021  Change 2020-21  54059          Mingo       7.0        33,739
31  Pop. 2021  Change 2020-21  54061     Monongalia       3.0        75,509
32  Pop. 2021  Change 2020-21  54063         Monroe       8.0        12,406
33  Pop. 2021  Change 2020-21  54065         Morgan       8.0        12,128
34  Pop. 2021  Change 2020-21  54067       Nicholas       6.0        26,775
35  Pop. 2021  Change 2020-21  54069           Ohio       3.0        50,871
36  Pop. 2021  Change 2020-21  54071      Pendleton       8.0         8,054
37  Pop. 2021  Change 2020-21  54073      Pleasants       6.0         7,546
38  Pop. 2021  Change 2020-21  54075     Pocahontas       9.0         9,008
39  Pop. 2021  Change 2020-21  54077        Preston       3.0        29,037
40  Pop. 2021  Change 2020-21  54079         Putnam       2.0        42,835
41  Pop. 2021  Change 2020-21  54081        Raleigh       3.0        76,819
42  Pop. 2021  Change 2020-21  54083       Randolph       7.0        27,803
43  Pop. 2021  Change 2020-21  54085        Ritchie       8.0        10,233
44  Pop. 2021  Change 2020-21  54087          Roane       6.0        15,120
45  Pop. 2021  Change 2020-21  54089        Summers       6.0        14,204
46  Pop. 2021  Change 2020-21  54091         Taylor       6.0        15,144
47  Pop. 2021  Change 2020-21  54093         Tucker       8.0         7,728
48  Pop. 2021  Change 2020-21  54095          Tyler       9.0         9,796
49  Pop. 2021  Change 2020-21  54097         Upshur       7.0        22,867
50  Pop. 2021  Change 2020-21  54099          Wayne       2.0        41,636
51  Pop. 2021  Change 2020-21  54101        Webster       9.0        10,729
52  Pop. 2021  Change 2020-21  54103         Wetzel       6.0        19,258
53  Pop. 2021  Change 2020-21  54105           Wirt       3.0         5,192
54  Pop. 2021  Change 2020-21  54107           Wood       3.0        86,915
55  Pop. 2021  Change 2020-21  54109        Wyoming       6.0        28,990

       Apr-00 ESTIMATESBASE2010 ESTIMATESBASE20201 current_year percentChange
0   1,808,193         1,852,994          1,793,716    1,782,959        -0.60%
1      15,555            16,589             15,465       15,468         0.00%
2      75,899           104,169            122,076      126,069         3.30%
3      25,548            24,629             21,809       21,312        -2.30%
4      14,697            14,523             12,447       12,247        -1.60%
5      25,427            24,069             22,559       22,140        -1.90%
6      96,783            96,319             94,350       93,418        -1.00%
7       7,587             7,627              6,229        6,176        -0.90%
8      10,336             9,386              8,051        7,892        -2.00%
9       7,366             8,202              7,808        7,735        -0.90%
10     47,591            46,039             40,488       39,927        -1.40%
11      7,155             8,693              7,408        7,377        -0.40%
12     11,292            11,937             10,976       10,983         0.10%
13     34,448            35,480             32,977       32,608        -1.10%
14     20,171            23,964             23,093       23,302         0.90%
15     32,682            30,676             29,095       28,656        -1.50%
16     12,647            14,025             14,299       14,160        -1.00%
17     68,635            69,099             65,921       65,158        -1.20%
18     28,002            29,211             27,791       27,738        -0.20%
19     42,246            53,498             57,701       58,370         1.20%
20    200,111           193,063            180,745      177,952        -1.50%
21     16,914            16,372             17,033       16,892        -0.80%
22     22,107            21,720             20,463       20,126        -1.60%
23     37,705            36,743             32,567       31,909        -2.00%
24     27,331            22,113             19,111       18,363        -3.90%
25     56,603            56,418             56,205       56,001        -0.40%
26     35,529            33,107             30,591       30,115        -1.60%
27     25,952            27,324             25,453       25,157        -1.20%
28     62,978            62,264             59,664       59,097        -1.00%
29     27,086            28,212             26,938       26,857        -0.30%
30     28,247            26,839             23,568       23,005        -2.40%
31     81,886            96,189            105,822      106,387         0.50%
32     13,184            13,502             12,376       12,332        -0.40%
33     14,929            17,541             17,063       17,221         0.90%
34     26,561            26,233             24,604       24,300        -1.20%
35     47,432            44,443             42,425       41,776        -1.50%
36      8,186             7,695              6,143        6,142         0.00%
37      7,513             7,605              7,653        7,601        -0.70%
38      9,114             8,719              7,869        7,841        -0.40%
39     29,315            33,520             34,216       34,358         0.40%
40     51,563            55,486             57,440       57,260        -0.30%
41     79,237            78,859             74,591       73,771        -1.10%
42     28,274            29,405             27,932       27,806        -0.50%
43     10,351            10,449              8,444        8,383        -0.70%
44     15,447            14,926             14,028       13,898        -0.90%
45     14,381            13,927             11,959       11,908        -0.40%
46     16,060            16,895             16,705       16,492        -1.30%
47      7,307             7,141              6,762        6,672        -1.30%
48      9,583             9,208              8,313        8,155        -1.90%
49     23,394            24,254             23,816       23,791        -0.10%
50     42,919            42,481             38,982       38,498        -1.20%
51      9,716             9,154              8,378        8,249        -1.50%
52     17,690            16,583             14,442       14,170        -1.90%
53      5,865             5,717              5,194        5,063        -2.50%
54     87,954            86,956             84,296       83,624        -0.80%
55     25,702            23,796             21,382       21,051        -1.50%

In [34]:
AK_obesity = pd.read_excel("Data/Obesity/2022 County Health Rankings Arkansas Data - v1.xlsx",sheet_name = 3)
AL_obesity = pd.read_excel("Data/Obesity/2022 County Health Rankings Alabama Data - v1.xlsx",sheet_name = 3)
FL_obesity = pd.read_excel("Data/Obesity/2022 County Health Rankings Florida Data - v1.xlsx",sheet_name = 3)
GA_obesity = pd.read_excel("Data/Obesity/2022 County Health Rankings Georgia Data - v1.xlsx",sheet_name = 3)
KY_obesity = pd.read_excel("Data/Obesity/2022 County Health Rankings Kentucky Data - v1.xlsx",sheet_name = 3)
LA_obesity = pd.read_excel("Data/Obesity/2022 County Health Rankings Louisiana Data - v1.xlsx",sheet_name = 3)
MD_obesity = pd.read_excel("Data/Obesity/2022 County Health Rankings Maryland Data - v1.xlsx",sheet_name = 3)
MS_obesity = pd.read_excel("Data/Obesity/2022 County Health Rankings Mississippi Data - v1.xlsx",sheet_name = 3)
NC_obesity = pd.read_excel("Data/Obesity/2022 County Health Rankings North Carolina Data - v1.xlsx",sheet_name = 3)
SC_obesity = pd.read_excel("Data/Obesity/2022 County Health Rankings South Carolina Data - v1.xlsx",sheet_name = 3)
TN_obesity = pd.read_excel("Data/Obesity/2022 County Health Rankings Tennessee Data - v1.xlsx",sheet_name = 3)
VA_obesity = pd.read_excel("Data/Obesity/2022 County Health Rankings Virginia Data - v1.xlsx",sheet_name = 3)
WV_obesity = pd.read_excel("Data/Obesity/2022 County Health Rankings West Virginia Data - v1.xlsx",sheet_name = 3)

AK_obesity.head()
#test_obesity.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Premature death,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 239,Unnamed: 240,Unnamed: 241,Unnamed: 242,Unnamed: 243,Long commute - driving alone,Unnamed: 245,Unnamed: 246,Unnamed: 247,Unnamed: 248
0,FIPS,State,County,Unreliable,Deaths,Years of Potential Life Lost Rate,95% CI - Low,95% CI - High,Z-Score,YPLL Rate (AIAN),...,% Drive Alone (Hispanic) 95% CI - Low,% Drive Alone (Hispanic) 95% CI - High,% Drive Alone (white),% Drive Alone (white) 95% CI - Low,% Drive Alone (white) 95% CI - High,# Workers who Drive Alone,% Long Commute - Drives Alone,95% CI - Low,95% CI - High,Z-Score
1,05000,Arkansas,NaN,NaN,50906,9749.670418,9622.149573,9877.191264,NaN,3989.295486,...,72.871392,76.250342,83.635245,83.343705,83.926785,1294646,27.2,26.723404,27.676596,NaN
2,05001,Arkansas,Arkansas,NaN,399,11869.862349,10029.672462,13710.052236,0.393554,NaN,...,NaN,NaN,86.467562,83.457327,89.477797,7864,19.3,15.317858,23.282142,-1.201748
3,05003,Arkansas,Ashley,NaN,422,11534.401651,9760.100441,13308.702862,0.237442,NaN,...,NaN,NaN,88.8442,84.750976,92.937424,7284,26.2,20.697176,31.702824,-0.552171
4,05005,Arkansas,Baxter,NaN,870,9851.878176,8657.762912,11045.99344,-0.545544,NaN,...,NaN,NaN,NaN,NaN,NaN,15091,15,12.004642,17.995358,-1.606556

In [35]:
nat_pov = pd.read_csv("Data/Poverty/NationalPoverty.csv")
AL_pov = pd.read_csv("Data/Poverty/AlabamaPoverty.csv")
AK_pov = pd.read_csv("Data/Poverty/ArkansasPoverty.csv")
FL_pov = pd.read_csv("Data/Poverty/FloridaPoverty.csv")
GA_pov = pd.read_csv("Data/Poverty/GeorgiaPoverty.csv")
KY_pov = pd.read_csv("Data/Poverty/KentuckyPoverty.csv")
LA_pov = pd.read_csv("Data/Poverty/LouisianaPoverty.csv")
MD_pov = pd.read_csv("Data/Poverty/MarylandPoverty.csv")
MS_pov = pd.read_csv("Data/Poverty/MississippiPoverty.csv")
NC_pov = pd.read_csv("Data/Poverty/NorthCarolinaPoverty.csv")
SC_pov = pd.read_csv("Data/Poverty/SouthCarolinaPoverty.csv")
TN_pov = pd.read_csv("Data/Poverty/TennesseePoverty.csv")
VA_pov = pd.read_csv("Data/Poverty/VirginiaPoverty.csv")
WV_pov = pd.read_csv("Data/Poverty/WestVirginiaPoverty.csv")
WV_pov.head()

,Textbox93,Textbox96,fips,county,ruc_code,total_est,total_Bmin,total_Bmax,under18,under18_Bmin,under18_Bmax
0,All people in poverty (2020),Children ages 0-17 in poverty (2020),54000,West Virginia,NaN,"274,176","264,703","283,649","70,402","66,709","74,095"
1,All people in poverty (2020),Children ages 0-17 in poverty (2020),54001,Barbour,6.0,"3,221","2,576","3,866",825,590,"1,060"
2,All people in poverty (2020),Children ages 0-17 in poverty (2020),54003,Berkeley,2.0,"12,137","9,626","14,648","3,728","2,691","4,765"
3,All people in poverty (2020),Children ages 0-17 in poverty (2020),54005,Boone,3.0,"3,700","2,676","4,724",986,653,"1,319"
4,All people in poverty (2020),Children ages 0-17 in poverty (2020),54007,Braxton,8.0,"2,356","1,735","2,977",575,369,781

In [36]:
AL_unemp = pd.read_csv("Data/Unemployment/UnemploymentReport_Alabama.csv")
AK_unemp = pd.read_csv("Data/Unemployment/UnemploymentReport_Arkansas.csv")
FL_unemp = pd.read_csv("Data/Unemployment/UnemploymentReport_Florida.csv")
GA_unemp = pd.read_csv("Data/Unemployment/UnemploymentReport_Georgia.csv")
KY_unemp = pd.read_csv("Data/Unemployment/UnemploymentReport_Kentucky.csv")
LA_unemp = pd.read_csv("Data/Unemployment/UnemploymentReport_Louisiana.csv")
MD_unemp = pd.read_csv("Data/Unemployment/UnemploymentReport_Maryland.csv")
MS_unemp = pd.read_csv("Data/Unemployment/UnemploymentReport_Mississippi.csv")
NC_unemp = pd.read_csv("Data/Unemployment/UnemploymentReport_NorthCarolina.csv")
SC_unemp = pd.read_csv("Data/Unemployment/UnemploymentReport_SouthCarolina.csv")
TN_unemp = pd.read_csv("Data/Unemployment/UnemploymentReport_Tennessee.csv")
VA_unemp = pd.read_csv("Data/Unemployment/UnemploymentReport_Virginia.csv")
WV_unemp = pd.read_csv("Data/Unemployment/UnemploymentReport_WestVirginia.csv")
AL_unemp.head()

,FIPS,Name,2013,2014,2015,2016,2017,2018,2019,2020,2021,Median Household Income (2020),% of State Median HH Income
0,1000,Alabama,7.3,6.7,6.1,5.9,4.5,3.9,3.2,6.5,3.4,"$53,958",100.00%
1,1001,"Autauga County, AL",6.3,5.8,5.2,5.1,4.0,3.6,2.9,5.4,2.8,"$67,565",125.20%
2,1003,"Baldwin County, AL",6.7,6.1,5.6,5.4,4.2,3.6,2.9,6.2,3.0,"$71,135",131.80%
3,1005,"Barbour County, AL",10.4,10.5,8.9,8.4,6.0,5.1,4.0,7.8,5.7,"$38,866",72.00%
4,1007,"Bibb County, AL",8.0,7.2,6.7,6.5,4.5,4.0,3.2,7.3,3.5,"$50,907",94.30%